/* Head Section */
.head-container{
    /* display: grid; */
    
    display: flex;
    /* align-items: center; */
    background: rgba(229, 84, 115, 0.1);
    width: 1920px;
    /* height: 850px; */
}
.head-description{
    /* position: absolute; */
    /* width: 708px; */
    /* height: 506px; */
   /* margin: 100px 150px ; */
   padding: 150px 200px;
}
.head-sub{
    color: rgb(39, 39, 39);
    font-family: Lato;
    font-size: 80px;
    font-weight: 800;
    /* line-height: 96px; */
    text-align: left;
}
.head-para{
    color: rgba(39, 39, 39, 0.6);
    font-family: Lato;
    font-size: 18px;
    font-weight: 400;
    /* line-height: 30px; */
    letter-spacing: 0%;
    text-align: left;
}
.btn-1{
    gap: 10;
    padding: 20px 43px 20px 43px;
    border-radius: 8px;
    background: rgb(229, 84, 115);
    font-family: Lato;
    font-size: 20px;
    font-weight: 200px;
}
.btn-1:hover{
    cursor: pointer;
    background-color: rgb(226, 43, 195);
    border: 2px groove blanchedalmond ;
}
.btn-1:active {
    background-color: #c7b513dc;
    box-shadow: 0 5px #000000;
    transform: translateY(4px);
}
.head-flower{
    /* position: absolute; */
    width: 635px;
    height: 800px;
    /* height: 800px; */
    /* left: 1045px;
    right: 240px;
    top: 50px;
    bottom: 4017px; */
}
/* @HEAD MEDIA QUERY */
@media screen and (max-width: 576px) {
    .head-description{
        /* margin: 5px; */
        /* height: 50px;
        width: 20px; */
        width: 100%;
        /* grid-template-columns: repeat(1, 1fr); */
        padding: 5px 5px;
     }
     .head-flower{
         /* margin: 5px; */
         width: 100%;
         /* width: 635px; */
         /* height: 100%; */
         flex-direction: column;
     }
     .head-container{
         height: 100%;
         width: 100%;
         flex-direction: column;
 }
 .head-sub{
     color: rgb(39, 39, 39);
     font-family: Lato;
     font-size: 80px;
     font-weight: 800;
     text-align: center;
     margin: 20px 5px 20px 5px;
    }
 .img-size {
     width: 100%;
     margin: 20px 5px 20px 5px;
}
.head-para{
    padding: 5px;
    text-align: center;
}
.btn-1{
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px 142px 10px 142px;
}
}
/* featured Section */
.featured-container{
    display: flex;
    justify-content: center;
    text-align: center;
    width: 100%;
    margin-top: 50px;
}
.featured-head{
    text-align: center;
    color: rgb(39, 39, 39);
    font-family: Lato;
    font-size: 40px;
    font-weight: 800;
}
.featured-para{
    text-align: center;
    color: rgba(39, 39, 39, 0.6);
    font-family: Lato;
    font-size: 18px;
    font-weight: 800;
    padding-top: 10px;
}
/* Featured media Query */
@media screen and (max-width: 576px) {
    .featured-container{
        flex-direction: column;
        width: 100%;
        height: 100%;
    }
}
/* Flower Tree Section */
.flower-tree-container{
    display: flex;
    justify-content: center;
    width: 100%;
    gap: 20px;
    align-items: center;
}
.flower-card{
    text-align: center;
}
.flower-img{
    min-height: 300px;
    background-color: rgba(167, 33, 98, 0.15);
    padding: 20px;
    border-radius: 100px 100px 0px 0px;
    padding-bottom: 0px;
}
.flower-img img{
    vertical-align: middle;
    width: 100%;
}
.colour1{
    background: rgba(5, 151, 160, 0.15);
    padding: 40px 0px 40px 0px;
}
.colour2{
    background: rgba(71, 125, 17, 0.15);
    width: calc(100% - 70px);
}
/* Flower Tree Media query */
@media screen and (max-width: 576px) {
    .flower-tree-container{
        flex-direction: column;
    }
}
/* Support-Section */
.support-section-container{
    display: flex;
    justify-content: space-around;
    text-align: center;
    border-radius: 8px;
    background: rgba(39, 39, 39, 0.05);
    margin: 50px 240px;
    
}
.support-section-img img{
    padding: 50px 50px 5px 50px;
}
.support-section-description{
    color: rgba(39, 39, 39, 0.8);
    font-family: Lato;
    font-size: 24px;
    font-weight: 600;
    
    letter-spacing: 0%;
    text-align: center;
}
/* Support-Section Media Query */
@media screen and (max-width: 576px) {
    .support-section-container{
        flex-direction: column;
        width: 100%;
        height: 100%;
        margin: calc(100% - 410px);
    }
}